<div class="min-h-screen bg-[#f8f2ec] flex items-center justify-center">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-lg">
    <h2 class="text-2xl font-bold text-black text-center mb-6">プロフィール編集</h2>

    <!-- エラーメッセージの表示 -->
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true, data: { turbo: false }, novalidate: true }) do |f| %>

    <div class="mb-4" data-controller="profile-image-preview">
      <%= f.label :profile_image, "プロフィール画像", class: "block text-gray-700" %>
      <% if resource.profile_image.attached? %>
      <%= image_tag resource.profile_image,
        data: { "profile-image-preview-target" => "preview" },
        class: "w-20 h-20 object-cover object-top rounded-full border border-gray-300 mb-2" %>
      <% else %>
      <%= image_tag asset_path('default_icon.png'),
        alt: "プロフィール画像",
        data: { "profile-image-preview-target" => "preview" },
        class: "w-20 h-20 rounded-full border border-gray-300 mb-2" %>
      <% end %>
      <%= f.file_field :profile_image,
        accept: "image/jpeg,image/png",
        class: "block",
        data: { "action" => "change->profile-image-preview#previewImage",
                "profile-image-preview-target" => "fileInput" } %>
    </div>

    <div class="mb-4">
      <%= f.label :name, "ユーザー名", class: "block text-gray-700" %>
      <%= f.text_field :name, placeholder: resource.name, class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded" %>
    </div>

    <div class="mb-6">
      <%= f.label :email, "メールアドレス", class: "block text-gray-700" %>
      <%= f.email_field :email, placeholder: resource.email, class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded" %>
    </div>

    <div class="flex justify-center">
      <%= f.submit "保存", class: "btn bg-[#FFA500] text-black text-lg hover:bg-[#C28742] w-full h-10 rounded shadow" %>
    </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to "退会", registration_path(resource_name), data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？この操作は元に戻せません。" }, class: "btn bg-red-500 text-black text-lg hover:bg-red-700 w-full h-10 rounded shadow" %>
    </div>

    <div class="mt-4 text-center">
      <%= link_to "マイページへ戻る", my_page_path, class: "text-sm text-gray-600 hover:text-[#C28742]" %>
    </div>
  </div>
</div>