<header class="bg-[#FFA500] p-4 flex justify-between items-center">
  <!-- ロゴ -->
  <div class="text-2xl font-bold text-black ml-4">
    SunUpHabits
  </div>

  <!-- ナビゲーションリンク -->
  <nav class="mr-4">
    <ul class="flex space-x-6">
      <% if user_signed_in? %>
      <li><%= link_to "投稿一覧", posts_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "マイ習慣", my_habits_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "新規習慣登録", new_habit_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "マイページ", class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { 
            controller: 'confirm',
            confirm_message_value: '本当にログアウトしますか？',
            action: 'confirm#confirm'
          }, class: "text-lg text-black hover:text-[#C28742] bg-transparent border-0" %></li>
      <% else %>
      <li><%= link_to "ログイン", new_user_session_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "text-lg text-black hover:text-[#C28742]" %></li>
      <% end %>
    </ul>
  </nav>
</header>