<div class="min-h-screen bg-[#f8f2ec] flex items-center justify-center">
  <div class="w-full max-w-md p-8 bg-white rounded shadow">
    <h2 class="text-2xl font-bold text-black mb-6 text-center">習慣の編集</h2>

    <!-- フラッシュメッセージの表示 -->
    <% if flash[:alert] %>
    <div class="alert alert-error mb-4">
      <p class="text-red-500 text-sm"><%= flash[:alert] %></p>
    </div>
    <% end %>

    <!-- エラーメッセージの表示 -->
    <%= render "shared/error_messages", resource: @habit %>

    <%= form_with(model: @habit, local: true, data: { turbo: false }) do |form| %>
    <div class="mb-4">
      <%= form.label :title, "習慣名 (例: 「朝のジョギング」 「読書」 「瞑想」 など)", for: 'habit_title', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, id: 'habit_title', class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", maxlength: 255 %>
      <% if @habit.errors[:title].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @habit.errors[:title].first %></p>
      <% end %>
    </div>

    <div class="mb-4">
      <%= form.label :goal, "目標設定 (例: 「夏までに2Kg痩せる！」 「30日間連続で実行する」 など)", for: 'habit_goal', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :goal, id: 'habit_goal', class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", maxlength: 255 %>
      <% if @habit.errors[:goal].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @habit.errors[:goal].first %></p>
      <% end %>
    </div>

    <div class="mb-4">
      <%= form.label :start_date, "開始日", for: 'habit_start_date', class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :start_date, id: 'habit_start_date', class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", value: @habit.start_date %>
      <% if @habit.errors[:start_date].any? %>
      <p class="text-red-500 text-sm mt-1"><%= @habit.errors[:start_date].first %></p>
      <% end %>
    </div>

    <div class="flex items-center justify-center mt-6">
      <%= form.submit "更新", class: "btn bg-blue-500 text-white text-lg hover:bg-blue-700 w-full h-10 rounded" %>
    </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to 'マイ習慣へ戻る', my_habits_path, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </div>
</div>