<div class="min-h-screen bg-[#f8f2ec] flex items-center justify-center">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-lg">
    <h2 class="text-2xl font-bold text-black mb-6 text-center">新規習慣登録</h2>

    <!-- エラーメッセージの表示 -->
    <%= render "shared/error_messages", resource: @habit %>

    <%= form_with(model: @habit, local: true, data: { turbo: false }) do |form| %>
    <div class="mb-4">
      <%= form.label :title, "習慣名 (例: 「朝のジョギング」 「読書」 「瞑想」 など)", class: "block text-gray-700" %>
      <%= form.text_field :title, class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", maxlength: 255 %>
    </div>

    <div class="mb-4">
      <%= form.label :goal, "目標設定 (例: 「夏までに2Kg痩せる！」 「30日間連続で実行する」 など)", class: "block text-gray-700" %>
      <%= form.text_field :goal, class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", maxlength: 255 %>
    </div>

    <div class="mb-4">
      <%= form.label :start_date, "開始日", class: "block text-gray-700" %>
      <%= form.date_field :start_date, class: "w-full p-3 text-black bg-white border border-gray-300 focus:bg-blue-100 focus:text-black focus:border-gray-500 rounded", value: Date.today %>
    </div>

    <div class="flex items-center justify-center mt-6">
      <%= form.submit "登録", class: "btn bg-[#FFA500] text-black text-lg hover:bg-[#C28742] w-full h-10 rounded shadow" %>
    </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= link_to 'マイ習慣へ戻る', my_habits_path, class: "text-sm text-gray-600 hover:text-[#C28742]" %>
    </div>
  </div>
</div>