<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Sun Up Habits" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <!-- 最新のFont Awesome CDNを追加 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <!-- ヘッダーを表示 -->
  <%= render "shared/header" %>

  <!-- フラッシュメッセージの表示 -->
  <% flash.each do |key, message| %>
  <div class="flash <%= key %>">
    <%= message %>
  </div>
  <% end %>

  <!-- メインコンテンツ -->
  <%= yield %>

  <!-- フッターを表示 -->
  <%= render "shared/footer" %>
</body>

</html>